.ptxc-wrap
{
    
    display: flow-root;
    
    border-radius: 25px 25px 25px 25px;
    padding: 20px 30px 20px 20px;
    background: transparent;
    margin: 15px 5px !important;
}
.ptxc-wrap form
{
    padding: 20px;
    
    display: flow-root;
}

.ptxc-wrap .ptxc-modal-link
{
    font-size: 14px;
    padding: 0;
    color: var(--wp--preset--color--secondary);
    border-color: var(--wp--preset--color--primary);
    font-weight: 700;
}
.mt-1
{
    margin-top: 1.5rem;
}
.ptxc-wrap  .ptxc-col-6
{
    float:left;
    width: 100%;
    padding: 0px;
}
.ptxc-wrap  .ptxc-col-12
{
    float:left;
     width: 100%; 
     padding: 0px;
}

.ptxc-wrap .ptxc-form-group .ptxc-form-control
{
    display: block;
    width: calc(100% - 30px);
    height: 34px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:unset;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
    display: none;
}
.ptxc-wrap .ptxc-form-group select.ptxc-form-control
{
    padding: 8px 12px;
    font-size: 1rem;
    height: 45px;
    width: 100%;
    color: #000;
    background: #fff;
    box-sizing: border-box;
}

.ptxc-table
{

border-collapse: separate;

border-spacing: 0;

margin: 0;

margin-top: 1.5rem;

background-color: white;

margin-left: 0px;

margin-right: 0px;

border-collapse: collapse;

width: 100%;

table-layout: auto;

border: 1px solid #fff;

border-top-left-radius: 3px;

border-top-right-radius: 3px;
}

.ptxc-table tr
{
    background-color: #f6f6f2;
}
.ptxc-table th
{
    border: 1px solid var(--wp--preset--color--primary);
    background-color: var(--wp--preset--color--primary);
    font-weight: 700;
    font-size: 16px;
    color: var(--wp--preset--color--secondary);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: min-content;
    width: 98%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ptxc-table td
{
    border-color: var(--wp--preset--color--primary) !important;
    border-collapse: collapse !important;
    border-width: 1px !important;
    background-color: white !important;
    border-style: solid !important;
    width: 50%;
    max-width: 50%;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    padding-left: 15px;
    padding-right: 5px;
    height: max-content;
    text-align: start;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 21.4286px;
    color: #000;
}


.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #000;
    background-color: rgba(0,0,0,.4)
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    margin-bottom: 150px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .4s;
    animation-name: animatetop;
    animation-duration: .4s;
    border-radius: 5px
}

.modal-body {
    padding: 2px 16px;
}

.modal-body h2 {
    font-size: 22px;
    font-weight: 700
}

.modal-body p {
    color: #1b3c54;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px
}

.modal-body ul li {
    color: #1b3c54;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    margin-top: -5px;
    font-weight: 700
}

.close:focus,.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}
.modal-header {
    padding: 0 16px;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #e7e7e7
}

.modal-header h2 {
    font-size: 20px;
    font-weight: 700
}


.elementor-default .ptxc-table td
{
    border-color: var(--e-global-color-primary) !important;
    
    
}
.elementor-default .ptxc-wrap .ptxc-modal-link
{
    color: var(--e-global-color-text);
    border-color: var(--e-global-color-primary);
}
.elementor-default .ptxc-table th
{
    border: 1px solid var(--e-global-color-primary);
    background-color: var(--e-global-color-primary);
    color: var(--e-global-color-text);
}

@media only screen and (min-width: 500px) 
{
    
    .ptxc-wrap  .ptxc-col-6
    {
        float:left;
        width: 49%;
        padding: 0px;
    }
    .ptxc-wrap .ptxc-row-col-6
    {
        display: flex;
        justify-content: space-between;
    }
    

    
}


